.main {
  display: flex;
}
.main .navWrapper {
  width: 260px;
  padding: 32px 0;
}
.main .navWrapper .navUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main .navWrapper .navUl li {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 9px 16px;
  border-radius: 8px;
  transition: var(--transition);
  margin-bottom: 6px;
}
.main .navWrapper .navUl li:hover {
  background-color: var(--menu-hover-background);
}
.main .navWrapper .navUl li svg {
  margin-right: 12px;
  font-size: 25px;
}
.main .navWrapper .navUl .hasSubmenu svg:nth-of-type(2) {
  margin-left: auto;
}
.main .navWrapper .navUl .hasSubmenu:global(>ul) {
  width: 100%;
  margin-top: 6px;
}
.main .navWrapper .navUl .hasSubmenu:global(>ul) li {
  padding: 9px 0;
}
.main .navWrapper .navUl .navMenuActive {
  background-color: var(--menu-active-background);
}
.main .navWrapper .navUl .navMenuActive:global(.hasSubmenu) {
  background-color: var(--menu-hover-background);
}
.main .navWrapper .navUl .navMenuActive:not(.hasSubmenu):hover {
  background-color: var(--menu-active-background);
}

.mainWrapper {
  padding: 12px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.mainWrapper .boxWrapper {
  height: 200px;
  padding: 20px;
}
.mainWrapper .boxWrapper .box {
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-lighter);
  border-radius: 10px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.mainWrapper .boxWrapper:global(.box-one-fifth) {
  flex-basis: 16.6667%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  width: 16.6667%;
}
.mainWrapper .boxWrapper:global(.box-one-third) {
  flex-basis: 33.3333%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  width: 33.3333%;
}
.mainWrapper .boxWrapper:global(.box-half) {
  flex-basis: 50%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  width: 50%;
}
.mainWrapper .boxWrapper:global(.box-full) {
  flex-basis: 100%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  width: 100%;
}
.mainWrapper .boxWrapper:global(.box-double-height) {
  height: 400px;
}
.mainWrapper .boxWrapper .boxTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.mainWrapper .boxWrapper .colorGreen {
  color: var(--color-green);
}
.mainWrapper .boxWrapper .colorRed {
  color: var(--color-red);
}
.mainWrapper .boxWrapper .reload {
  color: rgba(234, 234, 255, 0.6);
  display: flex;
  align-self: center;
  margin-top: 5px;
  cursor: pointer;
}
.mainWrapper .flexWithSpaceBetween {
  display: flex;
  justify-content: space-between;
}
.mainWrapper .boxWrapperFull {
  display: flex;
  padding: 24px;
  margin-top: 18px;
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-lighter);
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.mainWrapper .boxWrapperFull h1 {
  font-size: 20px;
}
.mainWrapper .loader {
  background: linear-gradient(110deg, var(--background-color-lighter) 8%, var(--main-background-color) 18%, var(--background-color-lighter) 33%);
  background-size: 200% 200%;
  animation: 1.5s shine linear infinite;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-gray);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.mainWrapper .logsWrapper {
  margin-top: 25px;
  box-shadow: var(--box-shadow);
  background-color: var(--main-background-color);
  padding: 25px 0;
  max-height: 80vh;
  overflow-y: auto;
  scroll-padding: 25px;
}
.mainWrapper .logsWrapper div {
  border: none;
}
.mainWrapper .boxAction {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 24px;
  height: 24px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
}
.mainWrapper .boxAction:hover, .mainWrapper .boxAction:global(.active) {
  background-color: var(--main-background-color);
}
.mainWrapper .boxActionMenu {
  background-color: var(--main-background-color);
  box-shadow: var(--box-shadow-large-bottom);
  border-radius: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 16px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
}
.mainWrapper .boxActionMenu:global(.active) {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity 0.3s ease-in-out, width 0.3s ease-in-out;
}
.mainWrapper .boxActionMenu li {
  padding: 6px 16px;
  min-width: 120px;
  transition: var(--transition);
  user-select: none;
}
.mainWrapper .boxActionMenu li:hover {
  background-color: var(--background-color-lighter);
  box-shadow: var(--box-shadow-large-bottom);
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

/*# sourceMappingURL=Main.module.css.map */
